<h1>Nuevo Registro</h1>

<%= form_for(@user) do |f| %>

    <div class="form_group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form_group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form_group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form_group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <%= f.submit "Guardar", class: "btn btn-primary" %>

<% end %>

